* {
    margin: 0;
    padding: 0;
}

.navigation {
    /* height: 74px; */
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font1);
    user-select: none;
}

.nav-left {
    font-size: 30px;
    display: flex;
}

#logo {
    padding-top: 4px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
}

.nav-right {}

.content {
    height: 100%;
    /* background-color: red; */
    padding: 10px;
    display: flex;
    position: relative;
    border-radius: 14px;
}

.content::after {
    content: "";
    background-image: url(../imge/content_bg.jpg);
    height: inherit;
    width: 100%;
    position: absolute;
    opacity: 0.10;
}

.content-left {
    font-family: var(--font1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    z-index: 1;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    height: 290px;
    border: 2px solid black;
    border-radius: 200px;
}

.home-articles {
    padding-top: 12px;
    background-color: rgba(233, 201, 196, 0.2);
    padding: 20px;
    margin-top: 23px;
    position: relative;
}

.year-box {
    position: absolute;
    height: 120px;
    width: 10%;
    top: 49px;
    right: 192px;
}

.home-article {
    display: flex;
    margin: 20px;
}

.home-article img {
    height: 200px;
}

.home-article-content {
    align-self: center;
    padding: 0px 25px;
}

.home-article-content a {
    text-decoration: none;
    color: black;
}

.footer {
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 22, 22, 0.70);
    flex-direction: column;
}

.footer a {
    color: black;
}