@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Roboto&display=swap');
:root {
    --main-bg-color: purple;
    --font1: 'Baloo Tamma 2', cursive;
    --font2: 'Roboto', sans-serif;
}

.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.max-width-1 {
    width: 80vw;
}

.max-width-2 {
    width: 60vw;
}

.m-auto {
    margin: auto;
}

.my-2 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.m-top {
    margin-top: 25px;
}

.mx-1 {
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    padding: 0px 13px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 15px;
    font-family: var(--font1);
    text-align: center;
    cursor: pointer;
    padding-top: 3px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: white;
    background-color: var(--main-bg-color);
}

.form-input {
    font-family: var(--font1);
    padding: 0px 5px;
    margin: 0 13px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 15px;
    /* text-align: center; */
    padding-top: 3px;
}

.form-box input,
textarea {
    width: 50vw;
    padding: 0px 5px;
    margin: 10px 0;
    border-radius: 5px;
    font-family: var(--font1);
    font-size: 17px;
    border: 2px solid rgb(82, 82, 82);
}